<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Which provider? -->
    <add key="provider" value="System.Data.SqlClient" />
    <!-- Which connection string? -->
    <add key="cnStr" value= "DATA SOURCE=ToanNguyen:1521/orcl;PERSIST SECURITY INFO=True;USER ID=HR; PASSWORD=admin123" />
  </appSettings>
</configuration>