<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Which provider? -->
    <add key="provider" value="System.Data.SqlClient" />
    <!-- Which connection string? -->
    <add key="cnStr" value= "Data Source=TOANNGUYEN\SQLEXPRESS;Initial Catalog=AutoLot;Persist Security Info=True;User ID=sa;Password=admin123" />
  </appSettings>
</configuration>